html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #219ebc;
    height: 100vh;
}
header {
    background-color: #0086a7;
}

#containerPizzeria{
    height: 100%;
}
/*tabella index*/
table tr {
    color: white;
}
table .btn {
    background-color: white;
    color: #219ebc;
    font-weight: bolder;
}
footer a{
color: white;
}
footer div{
    color: white;
}
